@font-face {
    font-family: "misaki_gothic_2nd";
    src: url("../font/misaki_gothic_2nd.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSansJP";
    src: url("../font/NotoSansJP-Medium.ttf") format("truetype");
    font-display: swap;
  }

.dq-window-11 {
    background-color: #333333;
    padding: 0.15rem;
    margin-top: 110px;
    margin-bottom: 110px
}
  
.dq-window-21 {
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
}
  
.dq-window-31 {
    color: white;
    background-color: #333333;;
    border-radius: 0.3rem;
    padding: 1.0rem 0.75rem;
    line-height: 2;
}
  
.dq-window-1 {
    background-color: #333333;
    padding: 0.15rem;
    width: fit-content;
    padding-top: 110px;
    margin-bottom: 110px
}
  
.dq-window-2 {
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
    width: fit-content;
}
  
.dq-window-3 {
    color: white;
    background-color: #333333;
    border-radius: 0.3rem;
    padding: 1.0rem 0.75rem;
    line-height: 2;
    width: fit-content;
}
  
h1,h2,h3{
    font-family: "misaki_gothic_2nd";
    color: white
}

p{
    padding-left: 2em;
    padding-right: 2em;
}

ul,p,small{
    font-family: "NotoSansJP";
}

body {
    background-color: #333333;
}

.body-inner {
    background-color: #333333;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.section {
    margin-bottom: 110px;
}

.text ,small{
    color: white;
}

small {
    display: block;
    text-align: center;
}

.caption{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    background-color: #333333;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-inner {
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    position: absolute;
    left: 0;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 80px;
    filter: invert(100%);
}

.image {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centering {
    display: block;
    text-align: center;
}

a:link {
    color: #5050ee;
   }

#page-top {
position: fixed;
bottom: 20px;
right: 20px;
font-size: 14px;
line-height: 1;
z-index: 99;
}
#page-top a {
background: #ffffff;
text-decoration: none;
color: #333333;
font-family: "misaki_gothic_2nd";
font-size: 13pt;
width: 60px;
padding: 28px 5px;
text-align: center;
display: block;
border-radius: 90px;
opacity: 0.9;
transition: all .3s ease;
}
#page-top a:hover {
text-decoration: none;
opacity: .5;
}